
.h1 {
    text-align: center;
    font-weight:600;
    font-size: 48px;
}


body{
    font-family: 'Times New Roman', Times, serif;
    
}

a {   
    color: black;   
}

a:active {
    color: blue;
}

a[tabindex]:focus {
    color:blue;
    outline: none;
}